* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../img/alexander-grey-Ur_NzyKfCo4-unsplash.jpg");
  background-size: 100vw 100vh;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.quote-container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 3.5px solid black;
  padding: 2rem 3rem;
  border-radius: 12px;
  max-width: 800px;
  text-align: center;
  color: #333;
}

.quote-text {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.4;
  position: relative;
  margin: 0;
}

.quote-text::before {
  content: "“";
  font-size: 3rem;
  position: absolute;
  left: -1.5rem;
  top: -1rem;
}

.quote-text::after {
  content: "”";
  font-size: 3rem;
  position: absolute;
  right: -1.5rem;
  bottom: -1rem;
}

.author-text {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  font-style: italic;
}